<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/HES</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">t0day</property>
 <!--   <property name="hibernate.hbm2ddl.auto">create</property>-->
<!--    <property name="hibernate.show_sql">true</property>-->
    <mapping resource="com/hes/pojo/Company.hbm.xml"/>
    <mapping resource="com/hes/pojo/UserLogin.hbm.xml"/>
    <mapping resource="com/hes/pojo/Supplier.hbm.xml"/>
    <mapping resource="com/hes/pojo/Product.hbm.xml"/>
    <mapping resource="com/hes/pojo/Customer.hbm.xml"/>
    <mapping resource="com/hes/pojo/CustomerProductMap.hbm.xml"/>
    <mapping resource="com/hes/pojo/Invoice.hbm.xml"/>
    <mapping resource="com/hes/pojo/InvoiceProductMap.hbm.xml"/>
    <mapping resource="com/hes/pojo/BasicInformation.hbm.xml"/>
    <mapping resource="com/hes/pojo/OtherInvoiceData.hbm.xml"/>
   

  </session-factory>
</hibernate-configuration>
